#admin@mail:~$ sudo debconf-get-selections | grep dbconfig-comm

dbconfig-common	dbconfig-common/pgsql/admin-pass	password
dbconfig-common	dbconfig-common/app-password-confirm	password
dbconfig-common	dbconfig-common/pgsql/app-pass	password
dbconfig-common	dbconfig-common/mysql/admin-pass	password
dbconfig-common	dbconfig-common/password-confirm	password
dbconfig-common	dbconfig-common/mysql/app-pass	password

# Deconfigure database for mailman3 with dbconfig-common?
dbconfig-common	dbconfig-common/remote/newhost	string

dbconfig-common	dbconfig-common/purge	boolean	false
dbconfig-common	dbconfig-common/db/app-user	string
dbconfig-common	dbconfig-common/pgsql/admin-user	string	postgres
dbconfig-common	dbconfig-common/remote/host	select	localhost

# Configure database for mailman3-web with dbconfig-common?
dbconfig-common	dbconfig-common/database-type	select

dbconfig-common	dbconfig-common/mysql/method	select	Unix socket
dbconfig-common	dbconfig-common/remove-error	select	abort
dbconfig-common	dbconfig-common/db/dbname	string
dbconfig-common	dbconfig-common/dbconfig-reinstall	boolean	false
dbconfig-common	dbconfig-common/internal/skip-preseed	boolean	false
dbconfig-common	dbconfig-common/pgsql/authmethod-user	select	password

# Perform upgrade on database for  with dbconfig-common?
dbconfig-common	dbconfig-common/dbconfig-upgrade	boolean	true

dbconfig-common	dbconfig-common/install-error	select	abort
dbconfig-common	dbconfig-common/remote-questions-default	boolean	false
dbconfig-common	dbconfig-common/pgsql/manualconf	note
dbconfig-common	dbconfig-common/upgrade-error	select	abort

# Configure database for mailman3 with dbconfig-common?
dbconfig-common	dbconfig-common/pgsql/revertconf	boolean	false

dbconfig-common	dbconfig-common/db/basepath	string
dbconfig-common	dbconfig-common/pgsql/method	select	TCP/IP
dbconfig-common	dbconfig-common/internal/reconfiguring	boolean	false
dbconfig-common	dbconfig-common/remote/port	string
dbconfig-common	dbconfig-common/remember-admin-pass	boolean	true

# Deconfigure database for  with dbconfig-common?
dbconfig-common	dbconfig-common/dbconfig-remove	boolean	true

# Perform upgrade on database for mailman3-web with dbconfig-common?
dbconfig-common	dbconfig-common/passwords-do-not-match	error

# Configure database for  with dbconfig-common?
dbconfig-common	dbconfig-common/dbconfig-install	boolean	true

# Deconfigure database for mailman3-web with dbconfig-common?
dbconfig-common	dbconfig-common/missing-db-package-error	select	abort
dbconfig-common	dbconfig-common/upgrade-backup	boolean	true
dbconfig-common	dbconfig-common/mysql/admin-user	string
dbconfig-common	dbconfig-common/pgsql/no-empty-passwords	error
dbconfig-common	dbconfig-common/pgsql/no-user-choose-other-method	note
dbconfig-common	dbconfig-common/pgsql/authmethod-admin	select	ident
dbconfig-common	dbconfig-common/pgsql/changeconf	boolean	false
admin@mail:~$ sudo debconf-get-selections | grep dbconfig-comm

dbconfig-common	dbconfig-common/pgsql/admin-pass	password
dbconfig-common	dbconfig-common/app-password-confirm	password
dbconfig-common	dbconfig-common/pgsql/app-pass	password
dbconfig-common	dbconfig-common/mysql/admin-pass	password
dbconfig-common	dbconfig-common/password-confirm	password
dbconfig-common	dbconfig-common/mysql/app-pass	password

# Deconfigure database for mailman3 with dbconfig-common?
dbconfig-common	dbconfig-common/remote/newhost	string

dbconfig-common	dbconfig-common/purge	boolean	false
dbconfig-common	dbconfig-common/db/app-user	string
dbconfig-common	dbconfig-common/pgsql/admin-user	string	postgres
dbconfig-common	dbconfig-common/remote/host	select	localhost

# Configure database for mailman3-web with dbconfig-common?
dbconfig-common	dbconfig-common/database-type	select

dbconfig-common	dbconfig-common/mysql/method	select	Unix socket
dbconfig-common	dbconfig-common/remove-error	select	abort
dbconfig-common	dbconfig-common/db/dbname	string
dbconfig-common	dbconfig-common/dbconfig-reinstall	boolean	false
dbconfig-common	dbconfig-common/internal/skip-preseed	boolean	false
dbconfig-common	dbconfig-common/pgsql/authmethod-user	select	password

# Perform upgrade on database for  with dbconfig-common?
dbconfig-common	dbconfig-common/dbconfig-upgrade	boolean	true

dbconfig-common	dbconfig-common/install-error	select	abort
dbconfig-common	dbconfig-common/remote-questions-default	boolean	false
dbconfig-common	dbconfig-common/pgsql/manualconf	note
dbconfig-common	dbconfig-common/upgrade-error	select	abort

# Configure database for mailman3 with dbconfig-common?
dbconfig-common	dbconfig-common/pgsql/revertconf	boolean	false

dbconfig-common	dbconfig-common/db/basepath	string /var/lib/mailman3/other
dbconfig-common	dbconfig-common/pgsql/method	select	TCP/IP
dbconfig-common	dbconfig-common/internal/reconfiguring	boolean	false
dbconfig-common	dbconfig-common/remote/port	string
dbconfig-common	dbconfig-common/remember-admin-pass	boolean	true

# Deconfigure database for  with dbconfig-common?
dbconfig-common	dbconfig-common/dbconfig-remove	boolean	true

# Perform upgrade on database for mailman3-web with dbconfig-common?
dbconfig-common	dbconfig-common/passwords-do-not-match	error

# Configure database for  with dbconfig-common?
dbconfig-common	dbconfig-common/dbconfig-install	boolean	true

# Deconfigure database for mailman3-web with dbconfig-common?
dbconfig-common	dbconfig-common/missing-db-package-error	select	abort
dbconfig-common	dbconfig-common/upgrade-backup	boolean	true
dbconfig-common	dbconfig-common/mysql/admin-user	string
dbconfig-common	dbconfig-common/pgsql/no-empty-passwords select	error
dbconfig-common	dbconfig-common/pgsql/no-user-choose-other-method	note
dbconfig-common	dbconfig-common/pgsql/authmethod-admin	select	ident
dbconfig-common	dbconfig-common/pgsql/changeconf	boolean	false
