#admin@mail:~$ sudo debconf-get-selections | grep mailman3-web

mailman3-web	mailman3-web/app-password-confirm	password
mailman3-web	mailman3-web/password-confirm	password
mailman3-web	mailman3-web/mysql/admin-pass	password

# PostgreSQL application password for mailman3-web:
mailman3-web	mailman3-web/pgsql/app-pass	password

# MySQL application password for mailman3-web:
mailman3-web	mailman3-web/mysql/app-pass	password
mailman3-web	mailman3-web/superuser-password	password	qwerty
mailman3-web	mailman3-web/pgsql/admin-pass	password	qwerty
# Host running the PostgreSQL server for mailman3-web:
mailman3-web	mailman3-web/remote/newhost	string	localhost
# Perform upgrade on database for mailman3-web with dbconfig-common?
mailman3-web	mailman3-web/dbconfig-upgrade	boolean	true
mailman3-web	mailman3-web/restart-webserver	boolean	true
mailman3-web	mailman3-web/remote/port	string	5432
mailman3-web	mailman3-web/emailname	string	alcafaz.test
mailman3-web	mailman3-web/passwords-do-not-match	error
mailman3-web	mailman3-web/internal/reconfiguring	boolean	false
mailman3-web	mailman3-web/superuser-mail	string	mailman3web@alcafaz.test
mailman3-web	mailman3-web/internal/skip-preseed	boolean	false
mailman3-web	mailman3-web/pgsql/authmethod-user	select	password
# Configure database for mailman3-web with dbconfig-common?
mailman3-web	mailman3-web/dbconfig-install	boolean	true
mailman3-web	mailman3-web/pgsql/changeconf	boolean	false
mailman3-web	mailman3-web/pgsql/no-empty-passwords	error
mailman3-web	mailman3-web/nginx-choice	note
# Connection method for MySQL database of mailman3-web:
mailman3-web	mailman3-web/mysql/method	select	Unix socket
# PostgreSQL username for mailman3-web:
mailman3-web	mailman3-web/db/app-user	string	mailman3web
mailman3-web	mailman3-web/mysql/admin-user	string
mailman3-web	mailman3-web/missing-db-package-error	select	abort
# Connection method for PostgreSQL database of mailman3-web:
mailman3-web	mailman3-web/pgsql/method	select	TCP/IP
# Deconfigure database for mailman3-web with dbconfig-common?
mailman3-web	mailman3-web/dbconfig-remove	boolean	true
mailman3-web	mailman3-web/upgrade-error	select	abort
mailman3-web	mailman3-web/pgsql/authmethod-admin	select	password
# PostgreSQL database name for mailman3-web:
mailman3-web	mailman3-web/db/dbname	string	mailman3web
mailman3-web	mailman3-web/configure-webserver	select	apache2
mailman3-web	mailman3-web/remove-error	select	abort
mailman3-web	mailman3-web/install-error	select	abort
# Database type to be used by mailman3-web:
mailman3-web	mailman3-web/database-type	select	pgsql
mailman3-web	mailman3-web/pgsql/admin-user	string	postgres
# Reinstall database for mailman3-web?
mailman3-web	mailman3-web/dbconfig-reinstall	boolean	false
#  storage directory for mailman3-web:
mailman3-web	mailman3-web/db/basepath	string	/var/lib/mailman3/web
# Host name of the PostgreSQL database server for mailman3-web:
mailman3-web	mailman3-web/remote/host	select	localhost
# Delete the database for mailman3-web?
mailman3-web	mailman3-web/purge	boolean	false
mailman3-web	mailman3-web/pgsql/manualconf	note
mailman3-web	mailman3-web/superuser-name	string	mailman3web
# Back up the database for mailman3-web before upgrading?
mailman3-web	mailman3-web/upgrade-backup	boolean	true
