version: 2
ethernets:
  {{ item.kvm_static_network.interface }}:
     dhcp4: {{ item.kvm_static_network.dhcp4 }}
     # default libvirt network
     addresses: [ {{ item.kvm_static_network.ipv4 }} ]
     gateway4: {{ item.kvm_static_network.gw }}
     nameservers:
       addresses: [ {{ item.kvm_static_network.ns1 }},{{ item.kvm_static_network.ns2 }} ]
       search: [ {{ item.kvm_static_network.search }} ]
