$INCLUDE "/etc/bind/zones/default-zone-data";

;name servers - A records
@     					IN		A		10.0.1.67
{% for key, value in records.items() %}
{% if value.type == 'A' %}
{{ key }}.{{domain}}.     		IN		{{ value.type }}		{{ value.forward }}
{% endif %}
{% endfor %}


;name servers - CNAME records
{% for key, value in records.items() %}
{% if value.type == 'CNAME' %}
{{ key }}     		IN		{{ value.type }}		{{ value.forward }}
{% endif %}
{% endfor %}