$INCLUDE "/var/lib/bind/zones/default-zone-data";

;name servers - A records
{% for key, value in records.items() %}
{% if value.type == 'A' %}
{{ key }}           IN          {{ value.type }}          {{ value.forward }}
{% endif %}
{% endfor %}


;name servers - CNAME records
{% for key, value in records.items() %}
{%+ if value.type == 'CNAME' %}
{{ key }}         IN          {{ value.type }}          {{ value.forward }}
{% endif %}
{% endfor %}
