$INCLUDE "/etc/bind/zones/default-zone-data";

; PTR Records
5			IN		PTR		alcafaz.test
{% for key, value in records.items() %}
{% if value.type == 'A' %}
{{ value.rev }}			IN		PTR		{{ key }}.{{domain}}.
{% endif %}
{% endfor %}