$INCLUDE "/var/lib/bind/zones/default-zone-data";

; PTR Records
{% for key, value in records.items() %}
{% if value.type == 'A' %}
{% if key == '@' %}
{{ value.rev }}			IN		PTR		{{domain}}.
{% else %}
{{ value.rev }}			IN		PTR		{{ key }}.{{domain}}.
{% endif %}
{% endif %}
{% endfor %}
