$TTL    {{bind9_ttl}}
@       IN      SOA     {{ ansible_fqdn }}. admin.{{ domain }}. (
              {{bind9_serial}}          ; Serial
              {{bind9_refresh}}         ; Refresh
                {{bind9_retry}}         ; Retry
               {{bind9_expire}}         ; Expire
   {{bind9_negative_cache_ttl}} )       ; Negative Cache TTL
; name servers
      IN           NS           {{ ansible_fqdn }}.
      IN           MX   10      {{ mx_domain }}.
      IN           TXT     "v=spf1 a:{{ domain }}  ~all"
