zone "{{ domain }}" {
    type master;
    file "/etc/bind/zones/db.{{ domain }}";
};

zone "{{ rev_domain }}" {
    type master;
    file "/etc/bind/zones/db.{{ rev_domain }}";
};

zone "diogof.test" {
    type master;
    file "/etc/bind/zones/db.diogof.test";
};

zone "{{domain_duarte}}" {
    type forward;
    forwarders { {{ip_duarte}};};
};

zone "1.0.10.in-addr.arpa" {
  type forward;
  forwarders { {{ip_duarte}}; };
};
