zone "{{ domain }}" {
    type master;
    file "/var/lib/bind/zones/db.{{ domain }}";
};

zone "{{ rev_domain }}" {
    type master;
    file "/var/lib/bind/zones/db.{{ rev_domain }}";
};


{% if duarte_zone == true %}

zone "{{domain_duarte}}" {
    type forward;
    forwarders { {{ip_duarte}};};
};

zone "1.0.10.in-addr.arpa" {
  type forward;
  forwarders { {{ip_duarte}}; };
};

{% endif %}

zone "alcafaz" {
    type forward;
    forwarders { 192.168.100.5;};
};

zone "100.168.192.in-addr.arpa" {
  type forward;
  forwarders { 192.168.100.5; };
};
