#
# {{ ansible_managed }} at {{ ansible_date_time.date }}
#
# Suggested minimal imapd.conf
# See imapd.conf(5) for more information and more options
# https://www.cyrusimap.org/imap/reference/manpages/configs/imapd.conf.html

# Space-separated users who have admin rights for all services.
# NB: THIS MUST BE CONFIGURED
admins: cyrus

###################################################################
## File, socket and DB location settings.
###################################################################

# Configuration directory
configdirectory: /var/lib/cyrus

# Directories for proc and lock files
proc_path: /run/cyrus/proc
mboxname_lockpath: /run/cyrus/lock

# Locations for DB files
# The following DB are recreated upon initialization, so should live in
# ephemeral storage for best performance.
duplicate_db_path: /run/cyrus/deliver.db
ptscache_db_path:  /run/cyrus/ptscache.db
statuscache_db_path: /run/cyrus/statuscache.db
tls_sessions_db_path: /run/cyrus/tls_sessions.db

# Which partition to use for default mailboxes
defaultpartition: default
partition-default: /var/spool/cyrus/mail

# If sieveusehomedir is false (the default), this directory is searched
# for Sieve scripts.
sievedir: /var/spool/sieve

###################################################################
## Important: KEEP THESE IN SYNC WITH cyrus.conf
###################################################################

lmtpsocket: {{ cyrus_imap_lmtpsocket }}
idlesocket: {{ cyrus_imap_idlesocket }}
notifysocket: {{ cyrus_imap_notifysocket }}

# Syslog prefix. Defaults to cyrus (so logging is done as cyrus/imap
# etc.)
syslog_prefix: cyrus

###################################################################
## Server behaviour settings
###################################################################

# Space-separated list of HTTP modules that will be enabled in
# httpd(8).  This option has no effect on modules that are disabled at
# compile time due to missing dependencies (e.g. libical).
#
# Allowed values: caldav, carddav, domainkey, ischedule, rss
httpmodules: caldav carddav

# If enabled, the partitions will also be hashed, in addition to the
# hashing done on configuration directories. This is recommended if one
# partition has a very bushy mailbox tree.
hashimapspool: true

# Enable virtual domains
# and set default domain to localhost
virtdomains: yes
defaultdomain: localhost

###################################################################
## User experience settings
###################################################################

# Minimum time between POP mail fetches in minutes
popminpoll: 1

###################################################################
## User Authentication settings
###################################################################

# Allow plaintext logins by default (SASL PLAIN)
allowplaintext: yes

###################################################################
## SASL library options (these are handled directly by the SASL
## libraries, refer to SASL documentation for an up-to-date list of
## these)
###################################################################

{% if cyrus_imap_tls.use %}
sasl_mech_list: DIGEST-MD5 CRAM-MD5 PLAIN LOGIN
{% endif %}

# The mechanism(s) used by the server to verify plaintext passwords.
# Possible values are "saslauthd", "auxprop", "pwcheck" and
# "alwaystrue".  They are tried in order, you can specify more than one,
# separated by spaces.
sasl_pwcheck_method: saslauthd

# If enabled, the SASL library will automatically create authentication
# secrets when given a plaintext password. Refer to SASL documentation
sasl_auto_transition: no

{% if cyrus_imap_tls.use %}
###################################################################
## SSL/TLS Options
###################################################################

# File containing the global certificate used for ALL services (imap,
# pop3, lmtp, sieve)
tls_server_cert: {{ cyrus_imap_tls.tls_server_cert }}

# File containing the private key belonging to the global server
# certificate.
tls_server_key: {{ cyrus_imap_tls.tls_server_key }}


# File containing one or more Certificate Authority (CA) certificates.
tls_client_ca_file: {{ cyrus_imap_tls.tls_client_ca_file }}

# Path to directory with certificates of CAs.
tls_client_ca_dir: {{ cyrus_imap_tls.tls_client_ca_dir }}

# The length of time (in minutes) that a TLS session will be cached for
# later reuse.  The maximum value is 1440 (24 hours), the default.  A
# value of 0 will disable session caching.
tls_session_timeout: {{ cyrus_imap_tls.tls_session_timeout }}
{% endif %}

{% if cyrus_imap_autocreate_mailboxes.create %}
###################################################################
## Auto create mailboxes
###################################################################
autocreate_quota: {{ cyrus_imap_autocreate_mailboxes.autocreate_quota }}
unixhierarchysep: {{ cyrus_imap_autocreate_mailboxes.unixhierarchysep }}
quotawarn: {{ cyrus_imap_autocreate_mailboxes.quotawarn }}
autocreate_inbox_folders: {{ cyrus_imap_autocreate_mailboxes.autocreate_subscribe_folders }}
autocreate_subscribe_folders: {{ cyrus_imap_autocreate_mailboxes.autocreate_subscribe_folders }}
lmtp_over_quota_perm_failure: {{ cyrus_imap_autocreate_mailboxes.lmtp_over_quota_perm_failure }}
{% endif %}
