;
;{{ ansible_managed }} at {{ ansible_date_time.date }}
;

$INCLUDE "{{ bind_zones_path }}/default-zone-data";

; PTR Records
{% for host in item.records %}
{% if host.type == 'A' %}
{{ host.rev }}    IN    PTR {{ host.name.rjust(10) }}.{{ item.name }}.
{% endif %}
{% endfor %}
