;{{ ansible_managed }} at {{ ansible_date_time.date }}
$TTL    {{bind_ttl}}
@       IN      SOA     {{ ansible_fqdn }}. {{ bind_soa_email }}. (
              {{bind_serial}}          ; Serial
              {{bind_refresh}}         ; Refresh
                {{bind_retry}}         ; Retry
               {{bind_expire}}         ; Expire
   {{bind_negative_cache_ttl}}         ; Negative Cache TTL
)

; name servers
      IN           NS           {{ ansible_fqdn }}.
      IN           MX   10      {{ bind_mx_domain }}.
      IN           TXT     "v=spf1 a:{{ bind_domain }}  ~all"
