;{{ ansible_managed }} at {{ ansible_date_time.date }}
{% for zone in bind_zones %}

zone "{{ zone.name }}" {
    type {{ zone.type }};
    file "{{ bind_zones_path }}/db.{{ zone.name }}";
};

zone "{{ zone.reverse }}" {
    type {{ zone.type }};
    file "{{ bind_zones_path }}/db.{{ zone.reverse }}.in-addr.arpa";
};

{% endfor %}
