#
# {{ ansible_managed }} at {{ ansible_date_time.date }}
#
{% for zone in bind_zones %}
zone "{{ zone.name }}" {
{% if zone.type == 'forwarder' %}
    type forward;
{% elif zone.type == 'secondary' %}
    type slave;
{% else %}
    type master;
{% endif %}
    file "{{ bind_zones_path }}/db.{{ zone.name }}";
};
zone "{{ zone.reverse }}.in-addr.arpa" {
{% if zone.type == 'forwarder' %}
    type forward;
{% elif zone.type == 'secondary' %}
    type slave;
{% else %}
    type master;
{% endif %}
    file "{{ bind_zones_path }}/db.{{ zone.reverse }}.in-addr.arpa";
};


{% endfor %}
